/** Header **/ 
.block-icon svg {
  color: #ce8339;
  font-size: 38px;
}

.header-compare-login .compare-login li+li svg {
    margin-right: 5px;
}

.header-menu-dark .header-compare-login .compare-login li a {
  color: #fff;
  margin-top: 15px;
}

.header-compare-login .compare-login li {
  margin-top: -15px;
}


span.slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 5;
  width: 45px;
  line-height: 45px;
  height: 45px;
  font-size: 26px;
  color: #293957;
  border-radius: 2px;
  background: #fff;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  left: 5%;
  cursor: pointer;
}
span.slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 5;
  width: 45px;
  line-height: 45px;
  height: 45px;
  font-size: 26px;
  color: #293957;
  border-radius: 2px;
  background: #fff;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  right: 5%;
  cursor: pointer;
}

span.slick-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
}
span.slick-arrow:hover{
  background-color: #ce8339;
  color: #fff;
}